body {
background-color:#80ffff;
font-family: Chalkboard;
Color: #ff66ff;
}

#navigation {
padding: 0;
margin: 0;
}

#navigation li {
display: inline;
float: left;
}

#navigation a, #navigation a:visited {
display: block;
width: 200px;
border: 1px solid #00284d;
font-size: 0.8em
text-align: center;
text-decoration: none;
color: #000066; }

#pic1 img{
box-shadow: 8px 8px 10px #aaa;
}

#pic2 img {
border: 10px double #00284d; 
}


Body.dotted {border-style: dotted;}


